<?xml version="1.0"?>
<launch>

  <include file="$(find wheeltec_basics)/launch/robot_model.launch" />

  <include file="$(find wheeltec_basics)/launch/gazebo.launch" />

  <param name="robot_description" command="xacro $(find wheeltec_basics)/descriptions/wheeltec.urdf.xacro" /> 

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model wheeltec" />

</launch>
